.people-card-section {
    display: flex;
    justify-content: center;
}

@keyframes animationH1 {
    0% {
        transform: scale(0.7);
    }
    100% {
        transform: scale(1);
    }
}
h1 {
    color: #0070ff;
    margin-bottom: 2em;
    margin-top: 0;
    text-shadow: 1px 1px 60px #bba5a5;
    font-size: 2.4em;
    animation: animationH1 3000ms ease-in-out;
}
.people-card-title {
    color: white;
}
.people-card-text {
    color: white;
    font-size: 1.3em;
    font-weight: 500;
    margin: 0.8em 0 0 0;
}
.span-people-text {
    font-size: 1em;
    color: #ffe919;
    font-weight: 200;
}
.div-card-people {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.people-img-div {
    display: flex;
    align-items: center;
    width: 120%;
    justify-content: space-between;
}
.previous-btn {
    background: transparent;
    border: none;
    font-size: 6em;
    color: #ffe919;
    display: flex;
    cursor: pointer;
    opacity: 0.5;
}
.previous-btn:hover {
    opacity: 1;
}
.next-btn {
    color: #ffe919;
    background: transparent;
    border: none;
    font-size: 6em;
    font-weight: 400;
    display: flex;
    cursor: pointer;
    opacity: 0.5;
}
.next-btn:hover {
    opacity: 1;
}
.people-img-card {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border: 5px double #ffa500;
}

.li-films {
    margin-top: 0.5em;
    list-style-type: none;
    text-align: center;
}
.li-films a {
    color: #ffa500;
}
