.App {
    text-align: center;
    padding: 5em;
}

.App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
h1 {
    color: #ffa500;
}
@keyframes animationTitle {
    0% {
        transform: scale(0.7);
    }
    100% {
        transform: scale(1);
    }
}
h2 {
    color: #0070ff;
    margin-bottom: 2em;
    text-shadow: 1px 1px 60px #bba5a5;
    animation: animationTitle 3000ms ease-in-out;
}

.ul-people {
    margin: 0.8em;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
}

.li-name {
    display: flex;
    flex-direction: column;
    background: #000;
    align-items: center;
    list-style-type: none;
    padding: 1em;
    border: 1px solid #ccc;
    gap: 0.6em;
    transition: 1000ms ease-in-out;
    color: white;
}
.li-name:hover {
    transform: scale(1.1);
    background: transparent;
}
.li-name :nth-child(1) {
    margin: 0;
}

.people-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 5px double #ffa500;
}
