.section-header{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 6em 1em 5em ;
    
}
.logo-div{
    display: flex;
    justify-content: space-around;
    align-items: center;        
}
.img-logo{
    max-width: 10em; 
}

nav{    
    width: 25%;
}

ul{
    list-style-type: none;
    display: flex;
    gap: 2em;
    justify-content: flex-end;   
}
.li-header{
    color: #FFA500;
    font-size: 1.4em;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0.6em;
    border: 1px solid #0070FF;
    padding: 0.5em;
    text-align: center;
    transition: all 1000ms ease-in-out;                
}
.li-header:hover{
    border-color: white;    
    transform: rotateY(360deg);    

}


