.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {    
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1{
  color: #FFA500;
  
}

.ul-people{  
  margin: 0.8em;
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
}

.li-name{
  display: flex;
  flex-direction: column;
  background: #000;
  align-items: center;
  list-style-type: none;
  padding: 16px;
  border: 1px solid #ccc;
  gap:0.6em;
  
}
.people-img{
  width: 200px;
  height: 200px;
  object-fit: cover;
}