body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.div-people{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.ul-people{    
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.8em;
  padding: 1em;

}

.li-name{
  list-style-type: none;
  padding: 16px;
  
}
.people-img{
  max-width: 150px;
}
